
namespace autogen
{
    ##$loop$0$options$option$##
    // --- begin ---
    // ##$var$option.opt1$##
    // ##$var$dict_test.t1$##
    // --- end ---
    ##$endloop$0$##

    class ##$var$classname$##
    {
        private array<string> myArr = {
##$loop$0$options$option$##
    "##$var$option.opt1$##",
    ##$loop$1$option.opt2$other_thing$##
        "##$var$other_thing.1$##",
    ##$endloop$1$##
##$endloop$0$##
        };

        ##$var$classname$##()
        {
        }

        string get_Name()
        {
            return "##$var$name$##";
        }
    }
}
