
namespace autogen
{
    class ##$var.classname$##
    {
        ##$var.classname$##()
        {
        }

        string get_Name()
        {
            return "##$var.name$##";
        }
    }
}
